@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Poppins:ital,wght@0,400;1,500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body, header, main, .list1, .list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 100vw;
    background-color:rgb(210, 228, 247);
    justify-content: space-between;
}

header, footer, main, h1, h2, nav {
    width: 100vw;
}

header, footer {
    background-color: rgb(54, 97, 139);
}

header, .tabs, blockquote, h3, .list1, .banner, footer {
    color: white;
}

header {
    background-image: url(../../images/rodolfo-quirós.jpg);
    background-size: cover;
    height: 100vh;
    gap: 2.5vmax;
    opacity: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vmin;
    margin: 0.5rem;
    opacity: 0;
}

nav > img {
    width: 5rem;
    height: auto;
    box-shadow: none;
}

.navigation {
    list-style-type: none;
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.navigaton > li {
    margin: 0 1rem;
    overflow: hidden;
}

.tabs {
    text-decoration: none;
    font-size: 1.5rem;
}

.tabs:hover {
    text-decoration: underline;
}

.hamburger-box {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: white;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#titles {
    display: flex;
    flex-direction: column;
    justify-self: center;
    opacity: 0;
}

h1 {
    font-size: 7vmax;
    background-color: rgba(59, 124, 189, 0.5);
    font-family: 'Anton';
    letter-spacing: 0.75rem;
}

h2 {
    text-align: center;
    font-size: 2vmax;
    border-top: 0.5rem solid black;
    background-image: radial-gradient(rgb(2, 41, 80), rgba(54, 97, 139, 0.75));
}

#arrow {
    width: 3rem;
    height: 3rem;
    border-right: 0.5rem solid white;
    border-bottom: 0.5rem solid white;
    border-left: 0;
    border-top: 0;
    align-self: center;
    transform: rotate(45deg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    transition-property: background-color, box-shadow;
    transition-duration: 200ms;
    background-color: transparent;
    box-shadow: none;
    opacity: 0;
}

#arrow:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0.75rem 0.75rem 20px rgba(255, 255, 255, 0.75), -0.75rem -0.75rem 20px rgba(255, 255, 255, 0.75), 0.75rem -0.75rem 20px rgba(255, 255, 255, 0.75), -0.75rem 0.75rem 20px rgba(255, 255, 255, 0.75);
}

.bar {
    width: 0.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 10px;
    transform: rotate(135deg);
    
}

.skyblue-shaft {
    background-color: rgb(138, 193, 248);
    width: 0.6rem;
    height: 3.5rem;
}

main {
    gap: 2vmax;
    padding: 2vmax 0;
}

section {
    width: 90%;
}

blockquote {
    background-color: rgb(2, 41, 80);
    font-style: italic;
    font-size: 3.5vmax;
    text-align: center;
    padding: 1vmax;
    box-shadow: -2vmax -1vmax rgb(59, 124, 189), -4vmax -2vmax rgb(138, 193, 248);
    margin-top: 4vmax;
    margin-left: 2.5vmax;
    width: 86%;
    font-family: 'Poppins';
}

section, img, h3, .banner {
    border-radius: 5px;
}

section {
    background-color: rgb(138, 193, 248);
    padding: 2vmax;
}

h3 {
    font-size: 2rem;
    text-align: center;
    background-image: radial-gradient(rgb(2, 41, 80), rgba(54, 97, 139, 0.75));
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1rem;
    box-shadow: 7px 7px rgb(2, 41, 80);
    font-family: 'Poppins';
}

p, .content {
    font-size: 1.2rem;
}

p, .pics {
    margin: 5vmin;
}

.list-subject {
    font-size: 1.3rem;
}

.content {
    padding-bottom: 5vmin;
}

.content > li {
    margin: 2vmin 10vmin;
}

.lists {
    display: flex;
    flex-wrap: wrap;
}

.list1, .list2 {
    flex: 1;
}

.list1 {
    background-color: rgb(2, 41, 80);
}

.list2 {
    background-color: rgb(59, 124, 189);
}

.banner {
    background-color: rgb(2, 41, 80);
    padding: 0.3rem;
    font-size: 1.5rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.pics {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.row {
    width: 100%; 
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    height: 25vmax;
    width: auto;
    box-shadow: 5px 5px 10px rgb(41, 48, 88);
}

footer {
    font-size: 0.75rem;
    background-color: slategrey;
    text-align: center;
    padding: 2vmax;
    background-image: radial-gradient(rgb(2, 41, 80), rgba(54, 97, 139, 0.75));
}


@media (max-width: 700px) {
    header {
        gap: 14vmax;
    }
    h1 {
        text-align: center;
        font-size: 4.5vmax;
        letter-spacing: 0.25rem;
    }
    h2 {
        line-height: 1rem;;
    }
    h3 {
        font-size: 10vmin;
    }
    .hamburger-box {
        display: flex;
    }
    .navigation {
        position: absolute;
        top: 0;
        margin-top: 5.1rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .navigation li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
    }
    #menu-toggle ~ .navigation li a{
        color: transparent;
    }
    #menu-toggle:checked ~ .navigation li a{
        color: white;
    }
    #menu-toggle:checked ~ .navigation li {
        border: 1px solid rgb(41, 48, 88);
        height: 4rem;
        padding: 1rem;
        transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
    }
    .navigation > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5rem 0;
        width: 100%;
        background-color: rgb(59, 124, 189);
    }
    section {
        padding: 1vmax;
    }
    p {
        font-size: 7vmin;
        margin: 5vmin 2vmin;
        text-align: center;
    }
    .pics {
        margin: 2vmin;
    }
    .list1, .list2 {
        text-align: center;
    }
    .content > li {
        list-style-type: none;
        margin: 5vmin 1.5vmin;
    }
    .email {
        font-size: 4.5vmin;
    }
    .pics {
        gap: 5vmin;
    }
    img {
        width: 35vmax;
        height: auto;
    }
    blockquote {
        box-shadow: none;
        border: 2vmax solid rgb(59, 124, 189);
        margin-left: 0;
        margin-top: 2vmax;
        margin-bottom: 2vmax;
    }
}