* {
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

html, body {
    margin: 0;
}

body {
    background-color:rgb(210, 228, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: rgb(54, 97, 139);
    background-image: url(../../images/rodolfo-quirós.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 2rem;
}

nav > img {
    width: 5rem;
    height: auto;
    box-shadow: none;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 2rem;
}

.tabs {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.tabs:hover {
    text-decoration: underline;
}

#titles {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

h1 {
    margin: 0;
    font-size: 5rem;
    color: white;
    background-color: rgba(59, 124, 189, 0.5);
    box-shadow: 5px 5px 10px rgba(59, 124, 189, 0.5), -5px -5px 10px rgba(59, 124, 189, 0.5);
}

h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    border-top: 0.5rem solid black;
    color: white;
    background-image: radial-gradient(rgb(2, 41, 80), rgba(54, 97, 139, 0.75));
    /*border: 2px dashed orange;*/
    
}

#arrow {
    width: 3rem;
    height: 3rem;
    border-right: 0.5rem solid white;
    border-bottom: 0.5rem solid white;
    border-left: 0;
    border-top: 0;
    align-self: center;
    transform: rotate(45deg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.bar {
    width: 0.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 10px;
    transform: rotate(135deg);
    
}

.skyblue-shaft {
    background-color: rgb(138, 193, 248);
    width: 0.6rem;
    height: 3.5rem;
}

main {
    padding: 5%;
}

blockquote {
    background-color: rgb(2, 41, 80);
    color: white;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    box-shadow: -50px -30px rgb(59, 124, 189), -100px -50px rgb(138, 193, 248);
}

section {
    background-color: rgb(138, 193, 248);
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 2rem;
    text-align: center;
    background-image: radial-gradient(rgb(2, 41, 80), rgba(54, 97, 139, 0.75));
    color:white;
    width: 20%;
    padding: 0 1rem;
    border-radius: 5px;
    box-shadow: 7px 7px rgb(2, 41, 80);
}

p, .content, .lists {
    font-size: 1.2rem;
    margin: 0.75rem 3rem;
}

.lists {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    justify-self: center;
}

.list1, .list2 {
    flex: 1;
}

.list1 {
    background-color: rgb(2, 41, 80);
    color: white;
}

.list2 {
    background-color: rgb(59, 124, 189);
}

.banner {
    background-color: rgb(2, 41, 80);
    color: white;
    align-self: center;
    padding: 0.3rem;
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1.5rem;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: inset 10px 10px 10px 5px rgb(138, 193, 248), inset -10px -10px 10px 5px rgb(138, 193, 248);
}

.pics {
    align-self: center;
    display: flex;
    gap: 3rem;
}

img {
    height: 25vmax;
    width: auto;
    box-shadow: 5px 5px 10px rgb(41, 48, 88);
    border-radius: 5px;
}

footer {
    font-size: 0.75rem;
    background-color: slategrey;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-image: radial-gradient(rgb(2, 41, 80), rgba(54, 97, 139, 0.75));
}
